https://www.knowledgehut.com/blog/database/sql-vs-sqlite

In [1]:
import sqlite3

In [3]:
# connect to sqlite database
connection = sqlite3.connect('example.db')
connection

In [4]:
#cursor ->which will iterate throughout the database
cursor = connection.cursor()

In [6]:
# create a table 
cursor.execute('''
               create table if not exists employees(
               id integer primary key,
               name text not null,
               age integer,
               department text
               )
                ''')

In [7]:
# commit the changes 
connection.commit()

In [8]:
cursor.execute('''
               select * from employees
                ''')

In [9]:
# insert the data in table
cursor.execute('''
               insert into employees(name,age,department) 
               values('Gaurav',22,'Data Science')
''')

cursor.execute('''
               insert into employees(name,age,department) 
               values('Bob',21,'IT')
''')
cursor.execute('''
               insert into employees(name,age,department) 
               values('Charlie',25,'Finance')
''')

# commit the cahnges in the datadase
connection.commit()

In [11]:
# quaring the data from the table
cursor.execute('select * from employees')
rows = cursor.fetchall()

for row in rows:
    print(row)

(1, 'Gaurav', 22, 'Data Science')
(2, 'Bob', 21, 'IT')
(3, 'Charlie', 25, 'Finance')

In [12]:
# update the data in the table
cursor.execute('''
    update employees set age=32
    where name="Bob"
''')
connection.commit()

In [13]:
# quaring the data from the table
cursor.execute('select * from employees')
rows = cursor.fetchall()

for row in rows:
    print(row)

(1, 'Gaurav', 22, 'Data Science')
(2, 'Bob', 32, 'IT')
(3, 'Charlie', 25, 'Finance')

In [14]:
# delete the data from the table
cursor.execute('''
    delete from employees
    where name="Bob"
''')
connection.commit()

In [15]:
# quaring the data from the table
cursor.execute('select * from employees')
rows = cursor.fetchall()

for row in rows:
    print(row)

(1, 'Gaurav', 22, 'Data Science')
(3, 'Charlie', 25, 'Finance')

In [16]:
# close the connection
connection.close()